<div class="user_bar">
<% if (loggedIn) { %> 
    <p>Welcome, <%= username %>!</p>
    <a href="/users/<%= id %>">Your Profile</a>
    <a href="/logout">Logout</a>
<% } else { %> 
    <a href="/login">Login</a>
    <a href="/users/new">Signup</a>
<% } %>
</div>


<div class="navbar">
    <h1>LOGO</h1>

    <ul class="menu_links">
        <li><a href="/">Home</a></li>
        <li class="dropdown_menu">
            <p>Anime</p>
            <ul class="dropdown_content">
                <li><a href="/anime/top">Top Anime</a></li>
                <li><a href="/anime/seasonal">Seasonal Anime</a></li>
            </ul>
        </li>
        <li><a>Manga</a></li>
        <li><a>About</a></li>
    </ul>

    <input type="search" class="main_search">

</div>