<% if (loggedIn) { %> 

<div class="user_bar">
    <p>Welcome, <%= username %>!</p>
    <a href="/logout">Logout</a>
</div>

<% } %> 

<div class="navbar">
    <h1>LOGO</h1>

    <ul class="menu_links">
        <li><a>Home</a></li>
        <li><a>Anime</a></li>
        <li><a>Manga</a></li>
        <li><a>About</a></li>
    </ul>
</div>