<div class="user_bar color_theme">
<% if (loggedIn) { %> 
    <p>Welcome, <%= username %>!</p>
    <a href="/users/<%= id %>">Your Profile</a>
    <a href="/logout">Logout</a>
<% } else { %> 
    <a href="/login">Login</a>
    <a href="/users/new">Signup</a>
<% } %>
</div>


<div class="navbar">
    <h1>LOGO</h1>
    <input type="search" class="main_search" placeholder="Search anime" />
    <ul class="menu_links">
        <li><a href="/" class="color_theme_text">Home</a></li>
        <li class="dropdown_menu">
            <a href="/anime" class="color_theme_text">Anime</a>
            <!-- <ul class="dropdown_content">
                <li><a href="/anime/top">Top Anime</a></li>
                <li><a href="/anime/seasonal">Seasonal Anime</a></li>
            </ul> -->
        </li>
        <li><a href="/random" class="color_theme_text">Random</a></li>
        <li><a href="/about" class="color_theme_text">About</a></li>
    </ul>
</div>

<script src="/scripts/navbar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- script for the search autocomplete -->
<script>
    $(".main_search").autocomplete({
        source: function(request, response) {
            $.ajax({
                type: "GET",
                url: "https://api.jikan.moe/v4/anime?q=" + request.term,
                dataType: "json",
                success: data => {
                    console.log(data)
                    if (data.data.length > 0) {
                        response(data.data.map(anime => {
                        return {
                            label: anime.title,
                            url: `/anime/${anime.mal_id}`
                        }}));
                    } else {
                        response([{ label: "No results found", value: "" }]);
                    }    
                }
            });
        },
        select: function(event, ui) {
            if (ui.item.url) {
                window.location.href = ui.item.url;
            } else {
                return false;
            }
            
        }
    });
</script>