<div class="user_bar">
<% if (loggedIn) { %> 
    <p>Welcome, <%= username %>!</p>
    <a href="/logout">Logout</a>
<% } else { %> 
    <a href="/login">Login</a>
    <a href="/users/new">Signup</a>
<% } %>
</div>


<div class="navbar">
    <h1>LOGO</h1>

    <ul class="menu_links">
        <li><a href="/">Home</a></li>
        <li><a>Anime</a></li>
        <li><a>Manga</a></li>
        <li><a>About</a></li>
    </ul>
</div>