* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user_bar {
    background-color: green;
    padding: 5px;
    color: white;
    font-weight: bold;
}

    .user_bar p {
        display: inline-block;
    }


.navbar {
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

    .menu_links {
        display: flex;
      
    }

        .menu_links li {
            list-style-type: none;
            margin-left: 15px;
            font-size: 20px;
        }

.footer {
    background-color: rgb(70, 70, 70);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* homepage */

.content_body {
    padding: 20px 50px;
}

    .home_img_container {
        display: flex;
        flex-wrap: wrap;
        min-width: 0;
        justify-content: center;
    }

    .home_main img {
        width: 225px;
        height: 318px;
        margin: 10px;
    }

/* login */

.login_main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login_error {
        color: red;
        font-weight: bold;
    }

    .login_main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 400px;
        border: 2px solid black;
    }

        .login_main form input {
            margin: 5px 0;
            height: 30px;
        }

   

    