* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya', serif;
}

.user_bar {
    background-color: rgb(0, 70, 128);
    padding: 5px;
    color: white;
    font-weight: bold;
}

    .user_bar p {
        display: inline-block;
    }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

    .menu_links {
        display: flex;
      
    }

        .menu_links li {
            list-style-type: none;
            margin-left: 15px;
            font-size: 20px;
        }

        .dropdown_menu {
            position: relative;
        }

        .dropdown_content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown_menu:hover .dropdown_content {
            display: block;
          }

.footer {
    background-color: rgb(70, 70, 70);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* homepage */

.content_body {
    padding: 20px 50px;
}

    .home_img_container {
        display: flex;
        flex-wrap: wrap;
        min-width: 0;
        justify-content: center;
    }

        .anime_card {
            width: 225px;
            height: 318px;
            margin: 10px;
            border-radius: 30px;
            overflow: hidden;
            display: flex;
            align-items: flex-end;
        }

            .anime_title {
                width: 100%;
                height: 70px;
                background: rgba(0, 0, 0, 0.6);
                padding: 5px 10px;
                color: white;
            }

            .anime_title h3  {
                font-size: 17px;
                overflow: hidden;
                
            }
            .anime_title h3 a {
                color: white;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

/* login & signup */

.login_main {
    background-color: antiquewhite;
}

.login_main, .signup_main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login_main i {
        margin-right: 5px;
    }

    .login_error {
        color: red;
        font-weight: bold;
    }

    .login_main form, .signup_main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 400px;
        border: 2px solid black;
        border-radius: 10px;
    }

        .login_main form input, .signup_main form input {
            margin: 5px 0;
            height: 30px;
        }

/* anime single page */

.anime_content_body {
    display: flex;
}

    .anime_info {
        margin-left: 30px;
    }

        .anime_info p {
            margin-top: 5px;
        }

/* profile */

.animelist_preview {
    width: 100%;
    border: 1px solid green;
}

.profile_details div {
    display: inline-block;
    vertical-align: top;
}

.profile_picture {
    width: 200px;
    display: inline-block;
}
   

    