<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 
    
    <div class="about_main">
        <h1>ABOUT</h1>

        <p>This is a full stack web application that draws inspiration from the popular anime website <a href="https://myanimelist.net/">MyAnimeList.net</a>. It is a library of anime shows that consumes data from <a href="https://jikan.moe/">Jikan API</a>. Unregistered users can search for anime using the search bar, while registering allows users to keep track of anime shows they've already watched and submit reviews for each shows.</p>

        <h2>Techology Stack Used:</h2>
        <ul>
            <li>Node.js</li>
            <li>EJS</li>
            <li>JQuery</li>
            <li>MySQL</li>
        </ul>

        <h2>Status:</h2>
        <p>Mobile responsiveness still under construction</p>
    </div>
    
</body>
</html>