<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 
    <h1>home page</h1>
    <h2>Top Airing</h2>
<% animeData.forEach(anime => { %>
    <a href="/anime/<%- anime.mal_id %>">
        <img src="<%- anime.images.jpg.image_url %>" alt="" height="318px">
    </a>
<% }) %> 
</body>
</html>